@font-face {
   font-family: 'Crimson Text';
   font-style: normal;
   font-weight: 600;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Crimson Text/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Crimson Text';
   font-style: normal;
   font-weight: 700;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Crimson Text/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Crimson Text';
   font-style: regular;
   font-weight: 400;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Crimson Text/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Crimson Text';
   font-style: italic;
   font-weight: 400;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Crimson Text/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Crimson Text';
   font-style: italic;
   font-weight: 600;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Crimson Text/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Crimson Text';
   font-style: italic;
   font-weight: 700;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Crimson Text/700italic.ttf') format('truetype');
}
