@font-face {
   font-family: 'Merriweather';
   font-style: normal;
   font-weight: 300;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Merriweather/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Merriweather';
   font-style: normal;
   font-weight: 700;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Merriweather/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Merriweather';
   font-style: normal;
   font-weight: 900;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Merriweather/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Merriweather';
   font-style: italic;
   font-weight: 300;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Merriweather/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Merriweather';
   font-style: regular;
   font-weight: 400;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Merriweather/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Merriweather';
   font-style: italic;
   font-weight: 400;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Merriweather/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Merriweather';
   font-style: italic;
   font-weight: 700;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Merriweather/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Merriweather';
   font-style: italic;
   font-weight: 900;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Merriweather/900italic.ttf') format('truetype');
}
