@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 100;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Roboto/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Roboto/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Roboto/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Roboto/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 900;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Roboto/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: italic;
   font-weight: 100;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Roboto/100italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: italic;
   font-weight: 300;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Roboto/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: regular;
   font-weight: 400;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Roboto/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: italic;
   font-weight: 400;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Roboto/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: italic;
   font-weight: 500;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Roboto/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: italic;
   font-weight: 700;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Roboto/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto';
   font-style: italic;
   font-weight: 900;
   src: url('file:///Users/shaileshmota/Documents/personal_code/psytecc_website//fonts/Roboto/900italic.ttf') format('truetype');
}
